


<div class="lobby_div">
    <div *ngIf="!configsVisible">
        <input type="button" value="Choose new name" (click)="backToLogin()">
        <br>
        <br>
        <input type="button" value="Create Room" (click)="viewConfigs()">
        <br>
        <br>
        <br>
        <form [formGroup]="joinForm" (ngSubmit)="joinRoom()">
            <label for="join_room_id">Join Room</label>
            <input type="text" id="join_room_id" placeholder="Enter the room id here" formControlName="joinId">
            <input type="submit" formControlName="joinSubmit">
        </form>
    </div>


    <div *ngIf="configsVisible">
        <input type="button" value="⏎ Return" (click)="returnToLobby()">
        <br>
        <br>
        <form  [formGroup]="configsForm" (ngSubmit)="createRoom()" (keydown.enter)="blur($event.target)">
            <input type="submit" formControlName="configsSubmit">
            <div [innerText]="configInvalids.length === 0 ? '' : 'Invalid configs: \n'+configInvalids.join('\n')" 
                [ngClass]="configInvalids.length === 0 ? '' : 'invalid_input'"></div>
            <br>
            <br>
            <div formGroupName="configsGroup">
                <label for="room_name_configs">Room Name: </label>
                <input type="text" id="room_name_configs" value="" 
                    placeholder="Enter a room name" formControlName="roomName"
                    [minlength]="roomNameMin" [maxlength]="roomNameMax" required>
    
                <div id="intervalTime_configs" formGroupName="intervalGroup">
                    <label for="intervalTime_range">Update interval time: </label>
                    <input type="range" id="intervalTime_range" formControlName="intervalRange"
                        [value]="intervalValue" [step]="intervalStep" [min]="intervalMin" [max]="intervalMax" 
                        (mouseup)="updateConfigs($event, enum.intervalRange)"
                        (input)="intervalValue = getNumValue($event)">
                    <!-- output [value]="intervalValue"></output -->
                    <input type="number" id="intervalTime_num" formControlName="intervalNum"
                        [value]="intervalValue" [min]="intervalMin" [max]="intervalMax" 
                        (change)="updateConfigs($event, enum.intervalNum)">
                </div>
                <br>
    
                <div id="maxNumPlayers_configs" formGroupName="playersGroup">
                    <label for="maxNumPlayers_range">Maximum # of players: </label>
                    <input type="range" id="maxNumPlayers_range" formControlName="playersRange"
                        [value]="playersValue" [step]="playersStep" [min]="playersMin" [max]="playersMax" 
                        (mouseup)="updateConfigs($event, enum.playersRange)"
                        (input)="playersValue = getNumValue($event)">
                    <!-- output [value]="playersValue"></output -->
                    <input type="number" id="maxNumPlayers_num" formControlName="playersNum"
                        [value]="playersValue" [min]="playersMin" [max]="playersMax" 
                        (change)="updateConfigs($event, enum.playersNum)">
                </div>
                <br>
    
                <div id="maxHealthPoints_configs" formGroupName="healthGroup">
                    <label for="maxHealthPoints_range">Additional lives: </label>
                    <input type="range" id="maxHealthPoints_range" formControlName="healthRange"
                        [value]="healthValue" [step]="healthStep" [min]="healthMin" [max]="healthMax" 
                        (mouseup)="updateConfigs($event, enum.healthRange)"
                        (input)="healthValue = getNumValue($event)">
                    <!-- output [value]="healthValue"></output -->
                    <input type="number" id="maxHealthPoints_num" formControlName="healthNum"
                        [value]="healthValue" [min]="healthMin" [max]="healthMax" 
                        (change)="updateConfigs($event, enum.healthNum)">
                </div>
                <br>
    
                <div id="gridWidth_configs" formGroupName="widthGroup">
                    <label for="gridWidth_range">Stage width: </label>
                    <input type="range" id="gridWidth_range" formControlName="widthRange"
                        [value]="widthValue" [step]="widthStep" [min]="widthMin" [max]="widthMax" 
                        (mouseup)="updateConfigs($event, enum.widthRange)"
                        (input)="widthValue = getNumValue($event)">
                    <!-- output [value]="widthValue"></output -->
                    <input type="number" id="gridWidth_num" formControlName="widthNum"
                        [value]="widthValue" [min]="widthMin" [max]="widthMax" 
                        (change)="updateConfigs($event, enum.widthNum)">
                </div>
                <br>
    
                <div id="gridHeight_configs" formGroupName="heightGroup">
                    <label for="gridHeight_range">Stage height: </label>
                    <input type="range" id="gridHeight_range" formControlName="heightRange"
                        [value]="heightValue" [step]="heightStep" [min]="heightMin" [max]="heightMax" 
                        (mouseup)="updateConfigs($event, enum.heightRange)"
                        (input)="heightValue = getNumValue($event)">
                    <!-- output [value]="heightValue"></output -->
                    <input type="number" id="gridHeight_num" formControlName="heightNum"
                        [value]="heightValue" [min]="heightMin" [max]="heightMax" 
                        (change)="updateConfigs($event, enum.heightNum)">
                </div>
                <br>
    
    
                <div id="numBoxes_configs" formGroupName="boxesGroup">
                    <label for="numBoxes_range"># of boxes to spawn: </label>
                    <input type="range" id="numBoxes_range" formControlName="boxesRange"
                        [value]="boxesValue" [step]="boxesStep" [min]="boxesMin" [max]="boxesMax" 
                        (mouseup)="updateConfigs($event, enum.boxesRange)"
                        (input)="boxesValue = getNumValue($event)">
                    <!-- output [value]="boxesValue"></output -->
                    <input type="number" id="numBoxes_num" formControlName="boxesNum"
                        [value]="boxesValue" [min]="boxesMin" [max]="boxesMax" 
                        (change)="updateConfigs($event, enum.boxesNum)">
                </div>
                <p [innerText]="boxesAvailable" [ngClass]="boxesAvailableClass"></p>
    
                <div id="numWalls_configs" formGroupName="wallsGroup">
                    <label for="numWalls_range"># of walls to spawn: </label>
                    <input type="range" id="numWalls_range" formControlName="wallsRange"
                        [value]="wallsValue" [step]="wallsStep" [min]="wallsMin" [max]="wallsMax" 
                        (mouseup)="updateConfigs($event, enum.wallsRange)"
                        (input)="wallsValue = getNumValue($event)">
                    <!-- output [value]="wallsValue"></output -->
                    <input type="number" id="numWalls_num" formControlName="wallsNum"
                        [value]="wallsValue" [min]="wallsMin" [max]="wallsMax" 
                        (change)="updateConfigs($event, enum.wallsNum)">
                </div>
                <p [innerText]="wallsAvailable" [ngClass]="wallsAvailableClass"></p>
    
    
                <div id="randomMobs_configs" formGroupName="randomGroup">
                    <label for="numRandomMobs_range"># of mobs to spawn randomly: </label>
                    <input type="range" id="numRandomMobs_range" formControlName="randomRange"
                        [value]="randomValue" [step]="randomStep" [min]="randomMin" [max]="randomMax" 
                        (mouseup)="updateConfigs($event, enum.randomRange)"
                        (input)="randomValue = getNumValue($event)">
                    <!-- output [value]="randomValue"></output -->
                    <input type="number" id="numRandomMobs_num" formControlName="randomNum"
                        [value]="randomValue" [min]="randomMin" [max]="randomMax" 
                        (change)="updateConfigs($event, enum.randomNum)">
                    <br>
    
                    <input type="button" class="collapsible_button" value="Set spawn weights" 
                        (click)="toggleView(toggle.randomMobs)">
                    <div *ngIf="randomMobsVisible">
                        <label for="weightMax">Max Weight</label>
                        <input type="number" [value]="weightMax" min=1 max=10000 id="weightMax">
                        <br>
                        <label for="weightBouncers">Bouncer(mob) weight: </label>
                        <input type="range" id="weightBouncers" formControlName="bouncerWeight"
                            value=1 step=1 min=0 [max]="weightMax"
                            (mouseup)="updateConfigs($event, enum.bouncerWeight)"
                            oninput="this.nextElementSibling.value = this.value"> <!-- using regular methods for ease -->
                        <output value="1">1</output>
                        <p [innerText]="bouncerChance"></p>
                        <br>
                        <label for="weightChargers">Charger(mob) weight: </label>
                        <input type="range" id="weightChargers" formControlName="chargerWeight"
                            value=1 step=1 min=0 [max]="weightMax"
                            (mouseup)="updateConfigs($event, enum.chargerWeight)"
                            oninput="this.nextElementSibling.value = this.value">
                        <output value="1">1</output>
                        <p [innerText]="chargerChance"></p>
                        <br>
                        <label for="weightCrawlers">Crawler(mob) weight: </label>
                        <input type="range" id="weightCrawlers" formControlName="crawlerWeight"
                            value=1 step=1 min=0 [max]="weightMax"
                            (mouseup)="updateConfigs($event, enum.crawlerWeight)"
                            oninput="this.nextElementSibling.value = this.value">
                        <output value="1">1</output>
                        <p [innerText]="crawlerChance"></p>
                        <br>
                        <label for="weightMimics">Mimic(mob) weight: </label>
                        <input type="range" id="weightMimics" formControlName="mimicWeight"
                            value=1 step=1 min=0 [max]="weightMax"
                            (mouseup)="updateConfigs($event, enum.mimicWeight)"
                            oninput="this.nextElementSibling.value = this.value">
                        <output value="1">1</output>
                        <p [innerText]="mimicChance"></p>
                        <br>
                        <label for="weightPushers">Pusher(mob) weight: </label>
                        <input type="range" id="weightPushers" formControlName="pusherWeight"
                            value=1 step=1 min=0 [max]="weightMax"
                            (mouseup)="updateConfigs($event, enum.pusherWeight)"
                            oninput="this.nextElementSibling.value = this.value">
                        <output value="1">1</output>
                        <p [innerText]="pusherChance"></p>
                        <br>
                        <label for="weightWanderers">Wanderer(mob) weight: </label>
                        <input type="range" id="weightWanderers" formControlName="wandererWeight"
                            value=1 step=1 min=0 [max]="weightMax"
                            (mouseup)="updateConfigs($event, enum.wandererWeight)"
                            oninput="this.nextElementSibling.value = this.value">
                        <output value="1">1</output>
                        <p [innerText]="wandererChance"></p>
                        <br>
                        <label for="weightWarpers">Warper(mob) weight: </label>
                        <input type="range" id="weightWarpers" formControlName="warperWeight"
                            value=1 step=1 min=0 [max]="weightMax"
                            (mouseup)="updateConfigs($event, enum.warperWeight)"
                            oninput="this.nextElementSibling.value = this.value">
                        <output value="1">1</output>
                        <p [innerText]="warperChance"></p>
                    </div>
                </div>
    
                <p [innerText]="mobsAvailable" [ngClass]="mobsAvailableClass"></p>
    
                <div id="fixedMobs_configs" formGroupName="fixedGroup">
                    <input type="button" class="collapsible_button" value="Spawn Fixed Mobs"
                        (click)="toggleView(toggle.fixedMobs)">
                    <div *ngIf="fixedMobsVisible">
                        <label for="numBouncers"># of Bouncer(mob) to force spawn: </label>
                        <input type="range" id="numBouncers" formControlName="bouncerNum"
                            value=0 step=1 min=0 [max]="bouncerMax"
                            (mouseup)="updateConfigs($event, enum.bouncerNum)"
                            (input)="bouncerValue = getNumValue($event)">
                        <output [value]="bouncerValue"></output>
                        <br><br>
                        <label for="numChargers"># of Charger(mob) to force spawn: </label>
                        <input type="range" id="numChargers" formControlName="chargerNum"
                            value=0 step=1 min=0 [max]="chargerMax" 
                            (mouseup)="updateConfigs($event, enum.chargerNum)"
                            (input)="chargerValue = getNumValue($event)">
                        <output [value]="chargerValue"></output>
                        <br><br>
                        <label for="numCrawlers"># of Crawler(mob) to force spawn: </label>
                        <input type="range" id="numCrawlers" formControlName="crawlerNum"
                            value=0 step=1 min=0 [max]="crawlerMax" 
                            (mouseup)="updateConfigs($event, enum.crawlerNum)"
                            (input)="crawlerValue = getNumValue($event)">
                        <output [value]="crawlerValue"></output>
                        <br><br>
                        <label for="numMimics"># of Mimic(mob) to force spawn: </label>
                        <input type="range" id="numMimics" formControlName="mimicNum"
                            value=0 step=1 min=0 [max]="mimicMax" 
                            (mouseup)="updateConfigs($event, enum.mimicNum)"
                            (input)="mimicValue = getNumValue($event)">
                        <output [value]="mimicValue"></output>
                        <br><br>
                        <label for="numPushers"># of Pusher(mob) to force spawn: </label>
                        <input type="range" id="numPushers" formControlName="pusherNum"
                            value=0 step=1 min=0 [max]="pusherMax" 
                            (mouseup)="updateConfigs($event, enum.pusherNum)"
                            (input)="pusherValue = getNumValue($event)">
                        <output [value]="pusherValue"></output>
                        <br><br>
                        <label for="numWanderers"># of Wanderer(mob) to force spawn: </label>
                        <input type="range" id="numWanderers" formControlName="wandererNum"
                            value=0 step=1 min=0 [max]="wandererMax" 
                            (mouseup)="updateConfigs($event, enum.wandererNum)"
                            (input)="wandererValue = getNumValue($event)">
                        <output [value]="wandererValue"></output>
                        <br><br>
                        <label for="numWarpers"># of Warper(mob) to force spawn: </label>
                        <input type="range" id="numWarpers" formControlName="warperNum"
                            value=0 step=1 min=0 [max]="warperMax" 
                            (mouseup)="updateConfigs($event, enum.warperNum)"
                            oninput="this.nextElementSibling.value = this.value"
                            (input)="warperValue = getNumValue($event)">
                        <output [value]="warperValue"></output>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>