


<div id="game_div" [ngClass]="!overlayVisible ? ['game_div'] : ['game_div','underlay']">


	<div id="game_debug" #gameDebug></div>

	<div>
		<ww-game-stage></ww-game-stage>
		<ww-game-control-panel *ngIf="ready"></ww-game-control-panel>
	</div>
	<br>


	<div id="general_controls">
		<table>
			<!--<td>
				<input type='button' id="gyroToggle" value="Turn On GyroMovement" (click)="gyroMove = !gyroMove" />
			</td>-->
			<td>
				<input type="button" id="toggle_info" value="Toggle Info" (click)="infoVisible = !infoVisible" />
			</td>
			<td>
				<input type='button' value="Leave Room" (click)="leaveRoom()" />
			</td>
		</table>
	</div>
	
	
	<ww-game-info *ngIf="infoVisible"></ww-game-info>

</div>




<div id="game_overlay" (click)="leaveRoom()" 
	class="overlayBanner overlayInteractable overlayFullscreen" 
	*ngIf="overlayVisible">
	<h1 id="banner_text" [innerText]="overlayText" class="screen-centered-text"></h1>
</div> 


