
.grid-element {
    display:inline-block;
    width: fit-content;
    min-height: auto;
    overflow: auto;
}

/*Traversy*/
.item {
    background: #f4f4f4;
    margin: 10px 2px;
    padding: 5px;
    /*cursor: pointer;*/
    border: 5px groove;
    border-radius: 8px;
    border-color: #999999;

    display: flex;
    justify-content: space-between;
}
  
  
.item h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: fit-content;
}

.highlight {
    color: red;
} 